.header .columna1 {
  padding: 0 40px 0d 30px;
  /* display: flex; */
  justify-content: space-between;
  /* border-color: black;
  border-style: ridge; */
}

.nav-link{
  margin-top: 10px;
}
.input-group{
  margin-top: 10px;
}

.header .columna2 {
  display: flex;
  padding-top: 25px;
  justify-content: space-between;
  /* border-color: black;
  border-style: ridge; */
}
.columna1 .logotipo {
  margin-top: 10px;
  width: 30px;
  height: 30px;
}

.columna2 .notificacion{
  width: 30px;
  height: 30px;
}

.columna2 .mensaje{
  width: 30px;
  height: 30px;
}

.columna2 .usuario{
  width: 30px;
  height: 30px;
}

.content{
  display: flex;
  justify-content: right;
  /* display: flex; */
  margin-top: 20px;
  border-style: ridge;
}

.row{
  justify-content: center;
}

.elemento img {
	width:100%;
  padding: 12px;
  width: 300px;
  height: 350px;
  border-radius: 8%;
} 
.column img{
  padding: 40px;
}

